<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/icon_font/iconfont.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.particleground.min.js" ></script>
    <!-- 要合并-->
    <script src="/static/js/b_base/b_base_sidebar.js"></script>

    <link rel="stylesheet" href="/static/css/blog_base_sidebar.css">
    <link rel="stylesheet" href="/static/css/blog_base_body.css">
    <link rel="stylesheet" href="/static/css/blog_base_inner.css">
    <!--以上要处理合并-->
</head>

<body>
    <div id="particles">
        <canvas id="pg-canvas"></canvas>
    </div>
    <div class="sidebar" aria-hidden="true">
        <div class="func-btns func-btns-up">
            <span class="func-item">
                <i class="icon iconfont icon-shouyeshouye"><span>目录</span></i>
                <div>
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <a href="javascript:void(0);" onclick="return false;">显示目录</a>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-shezhi"><span>设置</span></i>
                <div class="font-choose-box">
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <div class="font-choose bg-choose">
                    <a href="javascript:void(0)" onclick="return false;" class="bg-type  font-type-song iconfont icon-baitian"><i class="icon"></i></a>
                    <a href="javascript:void(0)" onclick="return false;" class="bg-type  font-type-hei iconfont icon-yewan"><i class="icon"></i></a>
                  </div>
                  <div class="font-choose">
                    <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-song">黑体</a>
                    <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-hei">宋体</a>
                  </div>
                </div>
            </span>
            <span class="func-item">
                <a href="http://weibo.com/173248656" target="_blank"><i class="func-fb icon iconfont icon-fenxiang1"><span>分享</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator sharecanvas"><a href="javascript: void(0);">截屏分享</a></p>
                  <p><a href="http://weibo.com/173248656" target="_blank">微博关注</a></p>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-guanyu"><span>关于</span></i>
                <div>
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p><a href="/about/" class="func-about-link" target="_blank">关于作者</a></p>
                  <div id="followMeOnWeibo"></div>
                </div>
            </span>
        </div>
        <div class="func-btns func-btns-down">
            <span class="func-item">
                <a href="http://demo.barretlee.com" target="_blank"><i class="icon iconfont icon-shiyan"><span>实验</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator"><a href="http://demo.barretlee.com" target="_blank">Demo平台</a></p>
                  <p class="seperator"><a href="http://md.barretlee.com" target="_blank">WX格式</a></p>
                  <p><a href="http://snippets.barretlee.com" target="_blank">Snippet应用</a></p>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-liuyan"><span>留言</span></i>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator"><a href="/message/" target="_blank">给我留言</a></p>
                  <p><a href="/comments/" target="_blank">近期留言</a></p>
                </div>
            </span>
            <span class="func-item">
                <a href="/friends/" target="_blank"><i class="icon iconfont icon-link"><span>友链</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <a href="/friends/" target="_blank">友情链接</a>
                </div>
            </span>
            <span class="func-item">
                <a href="/rss2.xml" target="_blank"><i class="icon iconfont icon-dingyue"><span>订阅</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i><a href="/rss2.xml" target="_blank">订阅我吧！</a></div>
            </span>
        </div>
    </div>
    <div class="site">
        <header class="site-header">
          <hgroup>
              <h1><a href="blog" title="你好啊，旅行者">疯狂大石头的个人网站</a></h1>
              <h2>Doubt is the strongest enemy</h2>
          </hgroup>
            <nav role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <i class="iconfont icon-shezhi"><span></span></i>
                        </button>
                        <a class="navbar-brand" href="#">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">聚焦前端</a></li>
                            <li><a href="#">技术博客</a></li>
                            <li><a href="#">聊天&留言</a></li>
                            <li><a href="#">关于我</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div rel="blog_base_inner">
            <div>
                <aside>
                   <div class="widgets-container">
                       <div class="widget-warp widget-permes">
                           <a href="#" target="_blank">
                               <img src="/static/images/photo.png">
                           </a>
                           <span>疯狂大石头</span>
                           <em>"这里是签名"</em>
                       </div>
                       <div class="widget-warp" id="widget-latest">
                           <h3 class="widget-title">最新文章</h3>
                           <div class="widget-latest">
                               <ul id="recent-post">
                                   <li v-for="item in articleList">
                                       <div class="item-thumbnail">
                                           <a href="/blog/2017/05/18/how-to-display-git-diff/">
                                               <span v-bind:style="'background-image:url('+item.img+')'" v-bind:alt=item.alt class="thumbnail-image"></span>
                                           </a>
                                       </div>
                                       <div class="item-inner">
                                           <p class="item-category"><a class="article-category-link" v-bind:href=item.category_href v-text="item.category"></a></p>
                                           <p class="item-title"><a v-bind:href=item.title_href class="title" v-text="item.title"></a></p>
                                           <p class="item-author" v-text="item.author"></p>
                                           <p class="item-date">at <time datetime="2017-05-18T01:56:11.000Z" itemprop="datePublished" v-text="item.date"></time></p>
                                       </div>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="widget-warp widget-list" id="widget-fenlei">
                           <h3 class="widget-title">分类</h3>
                           <div class="widget">
                               <ul>
                                   <li v-for="item in fenleiList">
                                       <a v-text="item.fenlei_name">Node.js</a>
                                       <span class="category-list-count" v-text="item.fenlei_num">46</span>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="widget-warp widget-list" id="widget-guidang">
                           <h3 class="widget-title">归档</h3>
                           <div class="widget">
                               <ul >
                                   <li v-for="item in guidangList">
                                       <a v-text="item.guidang_time"></a>
                                       <span class="category-list-count" v-text="item.guidang_num">46</span>
                                   </li>
                               </ul>
                           </div>
                       </div>

                   </div>
                </aside>
                <section>{% block main %} {% endblock %}</section>
                <script src="/static/js/vue.min.js"></script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script src="/static/js/b_base/base_body_innerdata.js"></script>
            </div>
        </div>
        <footer role="contentinfo">
          <div>
              <span>本站由 <a href="#" title="这是作者">疯狂大石头</a> 纯手工制作</span>
              <span>若您对本站有宝贵的建议和意见，欢迎您联系我:<a href="mailto:zzqworkspace@126.com">zzqworkspace@126.com</a></span>
          </div>
        </footer>
    </div>
</body>
</html>