<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.particleground.min.js" ></script>
    <!-- 要合并-->
    <script src="/static/js/b_base/b_base_sidebar.js"></script>

    <link rel="stylesheet" href="/static/css/blog_base_sidebar.css">
    <link rel="stylesheet" href="/static/css/icon_font/iconfont.css">

    <script>
        $(document).ready(function() {
            $('#particles').particleground({
                dotColor: '#E8E8E8',
                lineColor: '#E8E8E8',
                density:10000,
                proximity:100,
            });

            var left=48;
            $(".sidebar").mouseenter(function() {
                $(this).addClass("sidebar-hover");
            }).mouseleave(function() {
                $(this).removeClass("sidebar-hover");
            });
            $(".func-item").mouseenter(function() {
                $(this).children("div").css({
                    "left":left,
                    "opacity": "0",
                    "display": "block"
                }).clearQueue().show().stop().animate({
                    "left":left-15,
                    "opacity": "1"
                }, "fast");
            }).mouseleave(function() {
                $(this).children("div").stop().delay().animate({
                    "left":left,
                    "opacity": "0"
                }, "fast", function() {
                    $(this).hide()
                });
            });
        });
    </script>


    <!--以上要处理合并-->
</head>
<body>
    <div id="particles">
        <canvas id="pg-canvas"></canvas>
    </div>
    <div class="sidebar" aria-hidden="true">
        <div class="func-btns func-btns-up">
            <span class="func-item">
                <i class="icon iconfont icon-shouyeshouye"><span>目录</span></i>
                <div>
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <a href="javascript:void(0);" onclick="return false;">显示目录</a>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-shezhi"><span>设置</span></i>
                <div class="font-choose-box">
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <div class="font-choose bg-choose">
                    <a href="javascript:void(0)" onclick="return false;" class="bg-type  font-type-song iconfont icon-baitian"><i class="icon"></i></a>
                    <a href="javascript:void(0)" onclick="return false;" class="bg-type  font-type-hei iconfont icon-yewan"><i class="icon"></i></a>
                  </div>
                  <div class="font-choose">
                    <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-song">黑体</a>
                    <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-hei">宋体</a>
                  </div>
                </div>
            </span>
            <span class="func-item">
                <a href="http://weibo.com/173248656" target="_blank"><i class="func-fb icon iconfont icon-fenxiang1"><span>分享</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator sharecanvas"><a href="javascript: void(0);">截屏分享</a></p>
                  <p><a href="http://weibo.com/173248656" target="_blank">微博关注</a></p>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-guanyu"><span>关于</span></i>
                <div>
                  <i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p><a href="/about/" class="func-about-link" target="_blank">关于作者</a></p>
                  <div id="followMeOnWeibo"></div>
                </div>
            </span>
        </div>
        <div class="func-btns func-btns-down">
            <span class="func-item">
                <a href="http://demo.barretlee.com" target="_blank"><i class="icon iconfont icon-shiyan"><span>实验</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator"><a href="http://demo.barretlee.com" target="_blank">Demo平台</a></p>
                  <p class="seperator"><a href="http://md.barretlee.com" target="_blank">WX格式</a></p>
                  <p><a href="http://snippets.barretlee.com" target="_blank">Snippet应用</a></p>
                </div>
            </span>
            <span class="func-item">
                <i class="icon iconfont icon-liuyan"><span>留言</span></i>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <p class="seperator"><a href="/message/" target="_blank">给我留言</a></p>
                  <p><a href="/comments/" target="_blank">近期留言</a></p>
                </div>
            </span>
            <span class="func-item">
                <a href="/friends/" target="_blank"><i class="icon iconfont icon-link"><span>友链</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
                  <a href="/friends/" target="_blank">友情链接</a>
                </div>
            </span>
            <span class="func-item">
                <a href="/rss2.xml" target="_blank"><i class="icon iconfont icon-dingyue"><span>订阅</span></i></a>
                <div><i class="left-arrow"></i><i class="left-arrow-clone"></i><a href="/rss2.xml" target="_blank">订阅我吧！</a></div>
            </span>
        </div>
    </div>
    {% block main %} {% endblock %}
</body>
</html>