{% extends "b_base.html" %} {% block main %}
    <div class="article" id="articleId">
        <myarticle v-for="item in articleInfor" v-bind:item="item"></myarticle>
    </div>
    <nav id="pagination">
        <ul class="_pagination">
            <li v-if="left" v-on:click="previous"><a href="#">«</a></li>
            <li><a id="1" name="pana" class="" v-on:click="select">1</a></li>
            <li v-if="ellipsis1"><span>...</span></li>
            <li v-for="item in staticNum" v-if="item.display"><a v-bind:id="item.id" name="pana" class="" v-on:click="select" v-text="item.val">1</a></li>
            <li v-if="ellipsis2"><span>...</span></li>
            <li v-if="lastNum"><a v-bind:id="7" name="pana" class="" v-on:click="select" v-text="pageNum">1</a></li>
            <li v-if="right" v-on:click="theNext"><a href="#">»</a></li>
        </ul>
    </nav>
{% endblock %}