{% extends "b_base.html" %} {% block main %}
<link rel="stylesheet" href="/static/css/blog_base_chat.css">
<script src="/static/js/b_base/b_base_chat.js"></script>
<div class="chat-container">
    <div class="row">
        <div class="col-md-12 ">
            <h4 class="bottom-line">在线聊天室，说点什么吧 :)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Room</h3>
                </div>
                <div class="panel-body">
                    <div style="height:400px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="message-list">
                            <div style="margin-bottom:25px;" v-for="msg in messages">
                                <div v-if="msg.type === 'join' || msg.type === 'left'">
                                    <div class="media-left">
                                        <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" v-text="msg.data"></h4>
                                    </div>
                                </div>
                                <div v-if="msg.type === 'chat'">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" style="width:48px; height:48px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" v-text="msg.user.name"></h4>
                                            <span v-text="msg.data"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form id="form-chat" action="#0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="A good day, isn't it?">
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">Go</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Users</h3>
                </div>
                <div class="panel-body">
                    <div style="height:434px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="user-list">
                            <div class="media" v-for="user in users">
                                <div class="media-left">
                                    <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + user.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-text="user.name + ' (' + user.id + ')'"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <h4 class="bottom-line">一句话证明你来过 :)</h4>
        </div>
    </div>
    <div id="leave">
        <leave-item v-for="item in leaveTexts" v-bind:itemtext="item"></leave-item>
        <!--<input v-model="leaveText" v-on:keyup.enter="addNewText" placeholder="!@#$%^&*.....">-->
        <div id='pad-wrapper'>
            <div id="editparent">
                <div id='editControls' class='span12'>
                    <div class='btn-group'>
                        <a class='btn' data-role='undo' ><i class='fa fa-undo'></i></a>
                        <a class='btn' data-role='redo' ><i class='fa fa-repeat'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='bold'><b>Bold</b></a>
                        <a class='btn' data-role='italic' ><em>Italic</em></a>
                        <a class='btn' data-role='underline' ><u><b>U</b></u></a>
                        <a class='btn' data-role='strikeThrough' ><strike>abc</strike></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='justifyLeft' ><i class='fa fa-align-left'></i></a>
                        <a class='btn' data-role='justifyCenter' ><i class='fa fa-align-center'></i></a>
                        <a class='btn' data-role='justifyRight' ><i class='fa fa-align-right'></i></a>
                        <a class='btn' data-role='justifyFull' ><i class='fa fa-align-justify'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='indent' ><i class='fa fa-indent'></i></a>
                        <a class='btn' data-role='outdent' ><i class='fa fa-indent'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='insertUnorderedList' ><i class='fa fa-list'></i></a>
                        <a class='btn' data-role='insertOrderedList' ><i class='fa fa-list-ol'></i></a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='h1' >h<sup>1</sup></a>
                        <a class='btn' data-role='h2' >h<sup>2</sup></a>
                        <a class='btn' data-role='p' >p</a>
                    </div>
                    <div class='btn-group'>
                        <a class='btn' data-role='subscript' ><i class='icon-subscript'></i></a>
                        <a class='btn' data-role='superscript' ><i class='icon-superscript'></i></a>
                    </div>
                    <a v-on:click="addNewText" ><i class="fa-save">提交</i></a>
                </div>
                <div id='editor' style='' contenteditable>
                    <p>say something...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}