.sidebar {
  position: fixed;
  _display: none;
  left: -680px;
  width: 706px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ccc;
  transition: all 0.3s;
  *border-right: 1px solid #ccc;
  z-index: 80; }

:root .sidebar {
  border-right: none; }

.sidebar-toggler {
  position: fixed;
  top: 50%;
  left: 10px;
  height: 84px;
  width: 16px;
  margin-top: -42px;
  background: #e1e8e5;
  color: #000;
  text-align: center;
  line-height: 84px;
  cursor: pointer; }

.sidebar-content {
  padding-bottom: 30px; }

.sidebar-panel {
  overflow: hidden;
  width: 700px;
  margin-bottom: 25px; }
  .sidebar-panel > div {
    float: left;
    border: 1px solid #ccc; }
  .sidebar-panel a {
    display: block;
    height: 100%;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
    .sidebar-panel a:hover {
      text-decoration: none; }

.sidebar-panel-ad {
  width: 400px;
  height: 150px;
  margin-right: 20px;
  line-height: 150px;
  background-image: url("http://img3.douban.com/img/fmadmin/chlBanner/28472.jpg");
  background-size: cover; }
  .sidebar-panel-ad:hover {
    opacity: 0.8;
    -moz-opacity: 0.8; }
  .sidebar-panel-ad a {
    color: #555;
    font-size: 40px; }

.sidebar-panel-archive {
  width: 150px;
  height: 65px;
  line-height: 65px;
  background-color: #d93b57;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 94, 58, 0.8) 0%, rgba(255, 42, 104, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(255, 94, 58, 0.8) 0%, rgba(255, 42, 104, 0.8) 100%); }
  .sidebar-panel-archive:hover {
    background-color: #d93b57;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 42, 104, 0.8) 0%, rgba(255, 94, 58, 0.8) 100%);
    background-image: linear-gradient(to top, rgba(255, 42, 104, 0.8) 0%, rgba(255, 94, 58, 0.8) 100%); }

.sidebar-panel-seminar {
  width: 150px;
  height: 65px;
  margin-top: 20px;
  line-height: 65px;
  background-color: #23a2d6;
  background-image: -webkit-linear-gradient(bottom, rgba(29, 98, 240, 0.8) 0%, rgba(26, 214, 253, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(29, 98, 240, 0.8) 0%, rgba(26, 214, 253, 0.8) 100%); }
  .sidebar-panel-seminar:hover {
    background-color: #23a2d6;
    background-image: -webkit-linear-gradient(bottom, rgba(26, 214, 253, 0.8) 0%, rgba(29, 98, 240, 0.8) 100%);
    background-image: linear-gradient(to top, rgba(26, 214, 253, 0.8) 0%, rgba(29, 98, 240, 0.8) 100%); }

.sidebar-hover {
  transition: all 0.3s;
  left: -648px; }
  .sidebar-hover .func-btns {
    transition: all 0.3s;
    width: 62px; }
    .sidebar-hover .func-btns i.icon {
      color: #555;
      font-size: 14px;
      white-space: nowrap; }
      .sidebar-hover .func-btns i.icon span {
        display: inline-block;
        font-size: 14px;
        margin-left: 4px;
        color: #868686;
        position: relative;
        top: 1px;
        transition: all 0.3s;
        opacity: 1; }

.func-btns-up {
  top: 10px;
  bottom: auto; }

.func-btns-down {
  padding-bottom: 20px; }

.func-btns {
  transition: all 0.3s;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 26px;
  font-size: 18px;
  text-align: center;
  color: #666; }
  .func-btns i.icon {
    cursor: pointer;
    padding: 6px 0;
    display: block;
    height: 18px;
    line-height: 18px; }
    .func-btns i.icon:hover {
      color: #000; }
    .func-btns i.icon span {
      position: absolute;
      opacity: 0; }

.func-item {
  position: relative;
  display: block;
  padding-top: 10px; }
  .func-item > a {
    color: #555; }
    .func-item > a:hover {
      text-decoration: none; }
  .func-item > div {
    display: none;
    position: absolute;
    left: 20px;
    top: 70%;
    min-width: 80px;
    margin-top: -12px;
    border: 1px solid #ccc;
    padding: 8px;
    background: #eee;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
    .func-item > div a {
      color: #555;
      text-decoration: none; }
      .func-item > div a:hover {
        color: #000; }
  .func-item p {
    line-height: 24px;
    margin: 5px 0; }
  .func-item p.seperator {
    border-bottom: 1px solid #ccc;
    cursor: pointer; }

@media all and (-webkit-min-device-pixel-ratio: 0) {
  .func-item > div {
    margin-top: -34px; } }
.chatroom-tribe {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  color: #696e78;
  font-style: normal;
  transform: scale(0.5);
  font-weight: bold;
  visibility: hidden; }
  .chatroom-tribe:hover .iconfont {
    visibility: visible; }
  .chatroom-tribe .iconfont:hover {
    color: #fa7d3c; }

left-arrow {
  position: absolute;
  left: -15px;
  height: 0;
  width: 0;
  line-height: 0;
  border: 8px solid transparent;
  top: 9px;
  z-index: 100;
  border-right-color: #eee; }

.left-arrow-clone {
  position: absolute;
  left: -16px;
  height: 0;
  width: 0;
  z-index: 99;
  line-height: 0;
  border: 8px solid transparent;
  top: 9px;
  border-right-color: #ccc; }

/*# sourceMappingURL=b_base.css.map */
