* {
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

div[rel="blog_base_inner"] {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 264px;
  background: url("/static/images/s-left.png") repeat-y left 0; }
  div[rel="blog_base_inner"]:before, div[rel="blog_base_inner"]:after {
    content: "";
    display: table; }
  div[rel="blog_base_inner"]:after {
    clear: both; }
  div[rel="blog_base_inner"] div:before, div[rel="blog_base_inner"] div:after {
    content: "";
    display: table; }
  div[rel="blog_base_inner"] div:after {
    clear: both; }
  div[rel="blog_base_inner"] div aside {
    width: 264px;
    float: left;
    margin-left: -264px;
    background: url("/static/images/s-left.png") repeat-y left 0; }
  div[rel="blog_base_inner"] div section {
    float: right;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 600px; }

div.widget-warp {
  padding: 23.294px 23.294px 13.294px; }

div.widget-permes {
  border-bottom: 1px solid #C7C7C7; }
  div.widget-permes img {
    width: 217.412px; }
  div.widget-permes span {
    margin-top: 20px;
    display: block;
    text-align: center;
    clear: both; }
  div.widget-permes em {
    margin-top: 12px;
    display: block;
    text-align: center;
    clear: both;
    font-size: 12px;
    color: #AAAAAA; }

#widget-latest {
  border-bottom: 1px solid #C7C7C7; }

.widget-title {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 6px; }

.widget-latest {
  line-height: 1em;
  word-wrap: break-word;
  font-size: 0.9em;
  color: #777;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .widget-latest a {
    text-decoration: none; }
  .widget-latest ul {
    list-style: none;
    margin: 0;
    padding-left: 0px; }
    .widget-latest ul li {
      padding: 10px 0 10px 94px;
      border-bottom: 1px solid #ddd; }

.item-thumbnail {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: left;
  margin-left: -94px; }
  .item-thumbnail a {
    width: 85px;
    height: 85px;
    display: block;
    position: relative;
    overflow: hidden; }
    .item-thumbnail a .thumbnail-image {
      position: absolute;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover; }
    .item-thumbnail a span {
      width: 100%;
      height: 100%;
      display: block; }

#recent-post li:before,
#recent-post li:after {
  content: "";
  display: table; }

#recent-post li:after {
  clear: both; }

.widget {
  line-height: 1em;
  word-wrap: break-word;
  font-size: 0.9em;
  color: #777;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .widget a {
    text-decoration: none;
    color: #777; }

.widget-list ul {
  list-style: none;
  line-height: 1.6em;
  margin: 0;
  padding: 0; }
  .widget-list ul li {
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4; }
    .widget-list ul li a {
      color: #777; }
      .widget-list ul li a:before {
        color: #ccc;
        content: "\f0da";
        font-size: 12px;
        margin-right: 6px;
        font-family: FontAwesome;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        transition: 0.2s ease; }

.category-list-count:before {
  content: "("; }
.category-list-count:after {
  content: ")"; }

.articles-years {
  padding: 18px 30px 17px;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #eee; }

.articles {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px; }

.article-row {
  width: 100%;
  float: left;
  position: relative;
  padding: 30px 0px 0px 30px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.article-summary {
  width: 50%;
  float: left;
  margin-bottom: 30px; }
  .article-summary a {
    text-decoration: none;
    color: #62bbc3; }
  .article-summary .article-summary-inner {
    margin-right: 25px; }
    .article-summary .article-summary-inner ._thumbnail {
      height: 0;
      width: 100%;
      display: block;
      overflow: hidden;
      position: relative;
      margin-bottom: 1em;
      padding-bottom: 55.71%; }

.thumbnail-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in; }

/*# sourceMappingURL=blog_base_inner.css.map */
