*{
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

div[rel="blog_base_inner"]{
  width: 100%;
  padding-left:  264px;
  background: url("/static/images/s-left.png") repeat-y left 0;
  &:before,&:after{
    content: "";
    display: table;
  }
  &:after{ clear: both;}
  div{
    &:before,&:after{
      content: "";
      display: table;
    }
    &:after{ clear: both;}
    aside{
      width: 264px;
      float: left;
      margin-left: -264px;
      background: url("/static/images/s-left.png") repeat-y left 0;
    }
    section{
      background-color: #fff;
      float: right;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 600px;
    }
  }
}

div.widget-warp{padding: 23.294px 23.294px 13.294px}
div.widget-permes{
  border-bottom: 1px solid #C7C7C7;
  img{width: 217.412px}
  span{
    margin-top: 20px;
    display: block;
    text-align: center;
    clear: both;}
  em{
    margin-top: 12px;
    display: block;
    text-align: center;
    clear: both;
    font-size: 12px;
    color: #AAAAAA;}
}
#widget-latest{border-bottom: 1px solid #C7C7C7;}
.widget-title{
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 6px;
}
.widget-latest{
  line-height: 1em;
  word-wrap: break-word;
  font-size: 0.9em;
  color: #777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  a{text-decoration: none;}
  ul{
    list-style: none;
    margin: 0;
    padding-left: 0px;
    li{
      padding: 10px 0 10px 94px;
      border-bottom: 1px solid #ddd;
    }
  }
}
.item-thumbnail{
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: left;
  margin-left: -94px;
  a{
    width: 85px;
    height: 85px;
    display: block;
    position: relative;
    overflow: hidden;
    .thumbnail-image {
      position: absolute;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

    }
    span {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
#recent-post li:before,
#recent-post li:after {
  content: "";
  display: table;
}
#recent-post li:after {
  clear: both;
}

.widget{
  line-height: 1em;
  word-wrap: break-word;
  font-size: 0.9em;
  color: #777;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  a{
    text-decoration: none;
    color: #777;
  }
}
.widget-list{
  ul{
    list-style: none;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    li{
      padding: 10px 0;
      font-size: 15px;
      border-bottom: 1px solid #e4e4e4;
      a{
        color: #777;
        &:before{color: #ccc;
          content: "\f0da";
          font-size: 12px;
          margin-right: 6px;
          font-family: FontAwesome;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          transition: 0.2s ease;}
      }
    }
  }
}
.category-list-count{
  &:before{content: "(";}
  &:after{content: ")";}
}

.articles-years{
  padding: 18px 30px 17px;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #eee;
}
.articles{
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.article-row {
  width: 100%;
  float: left;
  position: relative;
  padding: 30px 0px 0px 30px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-summary {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: #62bbc3;
  }
  .article-summary-inner {
    margin-right: 25px;
    ._thumbnail {
      height: 0;
      width: 100%;
      display: block;
      overflow: hidden;
      position: relative;
      margin-bottom: 1em;
      padding-bottom: 55.71%;
    }
    .article-title {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.5em;
      word-wrap: break-word;
      overflow: hidden;
      height: 33px;
      a {
        -webkit-transition: color 0.3s ease-in;
        -moz-transition: color 0.3s ease-in;
        -ms-transition: color 0.3s ease-in;
        transition: color 0.3s ease-in;
        color: #444;
      }
    }
    .article-excerpt {
      position: relative;
      color: #aaa;
      font-size: 16px;
      line-height: 1.6em;
      overflow: hidden;
      height: 6.4em;
    }
  }
}
.thumbnail-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.article-meta {
  height: 1.6em;
  line-height: 1.6em;
  overflow: hidden;
  a {
    text-decoration: none;
    color: #62bbc3;
  }
  &:before,&:after{
    content:"";
    display: table;
  }
  &:after {
    clear: both;
  }
  p {
    float: left;
    color: #bbb;
    margin-right: 6px;
  }
}
.article-title {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: -1px;
  color: #555;
  line-height: 1.3em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  margin-bottom: 10px;
}

ul._pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      &._active{
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
      }
      &:hover:not(.active) {background-color: #ddd;}
    }
  }
}

